<mat-grid-list style="margin-top:48px;" cols=2 rowHeight="800px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="container">
      <mat-card *ngFor="let item of equipment" class="card">
        <mat-card-title>
          {{item.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{item.type}}
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-stroked-button color="primary">RENT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
